$flex-breakpoints: sm, md, lg;
$totalcols: 12;
.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(var(--space-x) * -0.5);
  margin-right: calc(var(--space-x) * -0.5);
  flex-grow: 1;
  > * {
    flex-shrink: 0;
    max-width: 100%;
    padding-left: calc(var(--space-x) * 0.5);
    padding-right: calc(var(--space-x) * 0.5);
    padding-bottom: var(--space-y);
    width: 100%;
  }
}

.col {
  flex: 1 0 0%;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 calc(100% / 12 * $i);
    max-width: calc(100% / 12 * $i);
  }
}

@each $breakpoint in $flex-breakpoints {
  @include media-breakpoint-up(#{$breakpoint}) {
    @for $i from 1 through 12 {
      .col-#{$breakpoint}-#{$i} {
        flex: 0 0 calc(100% / 12 * $i);
        max-width: calc(100% / 12 * $i);
      }
    }
  }
}

@include media-breakpoint-up(sm) {
  .col-sm {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
  }
}

@include media-breakpoint-down(sm) {
  .col-sm {
    flex-basis: 100% !important;
  }
}

@include media-breakpoint-up(xs) {
  .col-xs {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
  }
}

@include media-breakpoint-down(xs) {
  .col-xs {
    flex-basis: 100% !important;
  }
}

.flex-row {
  flex-direction: row;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-col {
  flex-direction: column;
}
.flex-col-reverse {
  flex-direction: column-reverse;
}
.items-center {
  align-items: center;
}
.items-end {
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-between {
  justify-content: space-between;
}
.order-first {
  order: -9999;
}
.order-last {
  order: 9999;
}
@include media-breakpoint-up(md) {
  .md\:order-first {
    order: -9999;
  }
  .md\:order-last {
    order: 9999;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:flex-col {
    flex-direction: column;
  }
}
