/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

img,
svg {
  vertical-align: middle;
}

a img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

blockquote {
  margin: 0 0 1rem;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

label {
  display: inline-block;
}

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

:root {
  --font: ff-real-headline-pro, sans-serif;
  --fontheading: diazo-mvb-ex-cond, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  font-size: var(--font-size-base);
}

.sr-only,
.sr-only-focusable {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.sr-only-focusable:focus {
  clip: auto;
  background: #000;
  color: #fff;
  display: block;
  height: auto;
  overflow: visible;
  padding: 15px;
  text-align: center;
  white-space: normal;
  width: 100%;
  width: auto;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.none {
  display: none;
}

.hide {
  display: none;
}

.color-primary {
  color: var(--color-primary);
}

.bg-primary {
  background-color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.color-pink {
  color: var(--color-pink);
}

.bg-pink {
  background-color: var(--color-pink);
}

.color-yellow {
  color: var(--color-yellow);
}

.bg-yellow {
  background-color: var(--color-yellow);
}

.color-dark {
  color: var(--color-dark);
}

.bg-dark {
  background-color: var(--color-dark);
}

.color-wt {
  color: var(--color-wt);
}

.bg-wt {
  background-color: var(--color-wt);
}

.color-white {
  color: var(--color-white);
}

.bg-white {
  background-color: var(--color-white);
}

.color-grey {
  color: var(--color-grey);
}

.bg-grey {
  background-color: var(--color-grey);
}

.ratio-1x1 {
  aspect-ratio: 1 / 1;
}

@supports not (aspect-ratio: 1 / 1) {
  .element::before {
    float: left;
    padding-top: 100%;
    content: "";
  }
  .element::after {
    display: block;
    content: "";
    clear: both;
  }
}
.ratio-4x3 {
  aspect-ratio: 4 / 3;
}

@supports not (aspect-ratio: 4 / 3) {
  .element::before {
    float: left;
    padding-top: 100%;
    content: "";
  }
  .element::after {
    display: block;
    content: "";
    clear: both;
  }
}
.ratio-16x9 {
  aspect-ratio: 16 / 9;
}

@supports not (aspect-ratio: 16 / 9) {
  .element::before {
    float: left;
    padding-top: 100%;
    content: "";
  }
  .element::after {
    display: block;
    content: "";
    clear: both;
  }
}
.ratio-21x9 {
  aspect-ratio: 21 / 9;
}

@supports not (aspect-ratio: 21 / 9) {
  .element::before {
    float: left;
    padding-top: 100%;
    content: "";
  }
  .element::after {
    display: block;
    content: "";
    clear: both;
  }
}

img[class*="ratio"],
iframe[class*="ratio"],
figure[class*="ratio"] img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

figure[class*="ratio"] img {
  aspect-ratio: inherit;
}

.icon {
  width: 1em;
  height: 1em;
  transition: color 0.3s, transform 0.3s;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mr-1 {
  margin-right: 1rem;
}

.my-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.p-1 {
  padding: 1rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pr-1 {
  padding-right: 1rem;
}

.py-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 991px) {
  [class*="mt-"].sm\:mt-1 {
    margin-top: 1rem;
  }
  .sm\:mb-1 {
    margin-bottom: 1rem;
  }
  .md\:pt-1 {
    padding-top: 1rem;
  }
  .md\:pb-1 {
    padding-bottom: 1rem;
  }
}
.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mr-2 {
  margin-right: 2rem;
}

.my-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mx-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}

.p-2 {
  padding: 2rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pr-2 {
  padding-right: 2rem;
}

.py-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.px-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (max-width: 991px) {
  [class*="mt-"].sm\:mt-2 {
    margin-top: 2rem;
  }
  .sm\:mb-2 {
    margin-bottom: 2rem;
  }
  .md\:pt-2 {
    padding-top: 2rem;
  }
  .md\:pb-2 {
    padding-bottom: 2rem;
  }
}
.mt-3 {
  margin-top: 3rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.ml-3 {
  margin-left: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}

.my-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.mx-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}

.p-3 {
  padding: 3rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.py-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.px-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}

@media (max-width: 991px) {
  [class*="mt-"].sm\:mt-3 {
    margin-top: 3rem;
  }
  .sm\:mb-3 {
    margin-bottom: 3rem;
  }
  .md\:pt-3 {
    padding-top: 3rem;
  }
  .md\:pb-3 {
    padding-bottom: 3rem;
  }
}
.mt-4 {
  margin-top: 4rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.ml-4 {
  margin-left: 4rem;
}

.mr-4 {
  margin-right: 4rem;
}

.my-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.mx-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}

.p-4 {
  padding: 4rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pr-4 {
  padding-right: 4rem;
}

.py-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.px-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}

@media (max-width: 991px) {
  [class*="mt-"].sm\:mt-4 {
    margin-top: 4rem;
  }
  .sm\:mb-4 {
    margin-bottom: 4rem;
  }
  .md\:pt-4 {
    padding-top: 4rem;
  }
  .md\:pb-4 {
    padding-bottom: 4rem;
  }
}
.mt-5 {
  margin-top: 5rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.ml-5 {
  margin-left: 5rem;
}

.mr-5 {
  margin-right: 5rem;
}

.my-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.mx-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}

.p-5 {
  padding: 5rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pr-5 {
  padding-right: 5rem;
}

.py-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.px-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

@media (max-width: 991px) {
  [class*="mt-"].sm\:mt-5 {
    margin-top: 5rem;
  }
  .sm\:mb-5 {
    margin-bottom: 5rem;
  }
  .md\:pt-5 {
    padding-top: 5rem;
  }
  .md\:pb-5 {
    padding-bottom: 5rem;
  }
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.m-0 {
  margin: 0;
}

.container-sm {
  max-width: 768px;
  padding-right: calc(var(--space-x) * 0.5);
  padding-left: calc(var(--space-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.container-md {
  max-width: 1024px;
  padding-right: calc(var(--space-x) * 0.5);
  padding-left: calc(var(--space-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.container-lg {
  max-width: 1280px;
  padding-right: calc(var(--space-x) * 0.5);
  padding-left: calc(var(--space-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.container-xl {
  max-width: 1536px;
  padding-right: calc(var(--space-x) * 0.5);
  padding-left: calc(var(--space-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.container-2xl {
  max-width: 1536px;
  padding-right: calc(var(--space-x) * 0.5);
  padding-left: calc(var(--space-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.container {
  max-width: 1280px;
  padding-right: calc(var(--space-x) * 0.5);
  padding-left: calc(var(--space-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: calc(var(--space-x) * 0.5);
  padding-left: calc(var(--space-x) * 0.5);
  width: 100%;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.row {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: calc(var(--space-x) * -0.5);
  margin-right: calc(var(--space-x) * -0.5);
  flex-grow: 1;
}
.row > * {
  flex-shrink: 0;
  max-width: 100%;
  padding-left: calc(var(--space-x) * 0.5);
  padding-right: calc(var(--space-x) * 0.5);
  padding-bottom: var(--space-y);
  width: 100%;
}

.col {
  flex: 1 0 0%;
}

.col-1 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}

.col-2 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}

.col-5 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}

.col-8 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}

.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}

.col-11 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}

.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 576px) {
  .col-xs-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-xs-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xs-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-xs-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-xs-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xs-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-xs-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-sm-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-sm-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-sm-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-sm-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-sm-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .col-md-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-md-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-md-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-md-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-md-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1 {
    flex: 0 0 8.3333333333%;
    max-width: 8.3333333333%;
  }
  .col-lg-2 {
    flex: 0 0 16.6666666667%;
    max-width: 16.6666666667%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
  }
  .col-lg-5 {
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
  }
  .col-lg-8 {
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.3333333333%;
    max-width: 83.3333333333%;
  }
  .col-lg-11 {
    flex: 0 0 91.6666666667%;
    max-width: 91.6666666667%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-sm {
    flex: 1 0 0%;
  }
}
@media (max-width: 767px) {
  .col-sm {
    flex-basis: 100% !important;
  }
}
.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.order-first {
  order: -9999;
}

.order-last {
  order: 9999;
}

@media (min-width: 992px) {
  .md\:order-first {
    order: -9999;
  }
  .md\:order-last {
    order: 9999;
  }
  .md\:flex-row {
    flex-direction: row;
  }
  .md\:flex-col {
    flex-direction: column;
  }
}
.text-xxs {
  font-size: var(--font-size-xxs);
  line-height: 1rem;
}

.text-xs {
  font-size: var(--font-size-xs);
  line-height: 1rem;
}

.text-sm {
  font-size: var(--font-size-sm);
}

.text-base {
  font-size: var(--font-size-base);
}

.text-md {
  font-size: var(--font-size-md);
  line-height: 1.75rem;
}

.text-lg {
  font-size: var(--font-size-lg);
  line-height: 1.2;
}

.text-xl {
  font-size: var(--font-size-xl);
  line-height: 1.2;
}

.text-2xl {
  font-size: var(--font-size-2xl);
  line-height: 1.2;
}

.text-3xl {
  font-size: var(--font-size-3xl);
  line-height: 1.2;
}

.text-4xl {
  font-size: var(--font-size-4xl);
  line-height: 1.2;
}

.text-5xl {
  font-size: var(--font-size-5xl);
  line-height: 1.2;
}

.text-6xl {
  font-size: var(--font-size-6xl);
  line-height: 1.2;
}

small {
  font-size: var(--font-size-sm);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5 {
  margin-block-end: var(--spacing-1);
  font-weight: bold;
  line-height: normal;
}

h1,
.h1 {
  font-size: var(--font-size-6xl);
}

h2,
.h2 {
  font-size: var(--font-size-2xl);
}

h3,
.h3 {
  font-size: var(--font-size-xl);
}

h4,
.h4 {
  font-size: var(--font-size-lg);
}

h5,
.h5 {
  font-size: var(--font-size-md);
}

p {
  margin-block-end: var(--spacing-1);
}

.italic {
  font-style: italic;
}

.bold,
strong,
b {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.list-disc {
  list-style-type: disc;
  margin-left: 1rem;
  margin-block-end: var(--spacing-1);
}

.list-decimal {
  list-style-type: decimal;
  margin-left: 1rem;
  margin-block-end: var(--spacing-1);
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

.btn {
  text-align: center;
  padding: 0.5rem 1.5rem;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  border-radius: var(--btn-radius);
  transition: color 0.3s, background-color 0.3s, border-color 0.3s;
}
.btn:focus {
  outline: 0;
}
.btn:focus,
.btn:focus {
  box-shadow: 0 0 0 2px var(--color-dark);
}
.btn:not([class*="btn-"]) {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.btn:not([class*="btn-"]):hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}
.btn svg {
  font-size: var(--font-size-sm);
  height: 1em;
  width: 1em;
}
.btn.btn-sm {
  font-size: var(--font-size-sm);
}
.btn.btn-lg {
  font-size: var(--font-size-lg);
  align-items: initial;
}

.btn-primary {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn-primary:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
}

.btn-outline-primary {
  border-color: var(--color-primary);
  color: var(--color-primary);
}
.btn-outline-primary:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: var(--color-white);
}
.btn-secondary:hover {
  background-color: var(--color-white);
  color: var(--color-secondary);
}

.btn-outline-secondary {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}
.btn-outline-secondary:hover {
  background-color: var(--color-secondary);
  color: var(--color-white);
}

.btn-pink {
  background-color: var(--color-pink);
  color: var(--color-white);
}
.btn-pink:hover {
  background-color: var(--color-white);
  color: var(--color-pink);
}

.btn-outline-pink {
  border-color: var(--color-pink);
  color: var(--color-pink);
}
.btn-outline-pink:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}

.btn-yellow {
  background-color: var(--color-yellow);
  color: var(--color-white);
}
.btn-yellow:hover {
  background-color: var(--color-white);
  color: var(--color-yellow);
}

.btn-outline-yellow {
  border-color: var(--color-yellow);
  color: var(--color-yellow);
}
.btn-outline-yellow:hover {
  background-color: var(--color-yellow);
  color: var(--color-white);
}

.btn-dark {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.btn-dark:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}

.btn-outline-dark {
  border-color: var(--color-dark);
  color: var(--color-dark);
}
.btn-outline-dark:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.btn-wt {
  background-color: var(--color-wt);
  color: var(--color-white);
}
.btn-wt:hover {
  background-color: var(--color-white);
  color: var(--color-wt);
}

.btn-outline-wt {
  border-color: var(--color-wt);
  color: var(--color-wt);
}
.btn-outline-wt:hover {
  background-color: var(--color-wt);
  color: var(--color-white);
}

.btn-outline-white {
  border-color: var(--color-white);
  color: var(--color-white);
}
.btn-outline-white:hover {
  background-color: var(--color-white);
  color: var(--color-white);
}

.btn-grey {
  background-color: var(--color-grey);
  color: var(--color-white);
}
.btn-grey:hover {
  background-color: var(--color-white);
  color: var(--color-grey);
}

.btn-outline-grey {
  border-color: var(--color-grey);
  color: var(--color-grey);
}
.btn-outline-grey:hover {
  background-color: var(--color-grey);
  color: var(--color-white);
}

.btn-white {
  background-color: var(--color-white);
  color: var(--color-dark);
}
.btn-white:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}

.btn-outline-white {
  border-color: var(--color-white);
  color: var(--color-white);
}
.btn-outline-white:hover {
  color: var(--color-dark);
}

.stretched-link:after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

nav {
  --gap: 1rem;
}

.nav-h,
.nav-v {
  display: flex;
  gap: var(--gap);
}
.nav-h a,
.nav-v a {
  text-decoration: none;
}

.nav-v {
  flex-direction: column;
}

.nav-h {
  align-items: center;
}

@media (min-width: 992px) {
  .md\:nav-h {
    flex-direction: row;
    align-items: center;
  }
}
input,
textarea,
select {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input:focus,
textarea:focus,
select:focus {
  color: #212529;
  background-color: #fff;
  border-color: #cecece;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(77, 77, 77, 0.25);
}

label {
  margin-bottom: 0.5rem;
}

input[type="checkbox"],
input[type="radio"] {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  padding: initial;
  line-height: initial;
}
input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
}

input[type="radio"] {
  border-radius: 50%;
}

input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

input[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check {
  display: inline-flex;
  gap: 0.5em;
}
.form-check + .form-check {
  margin-left: 1rem;
}

:root {
  --color-primary: #e63a54;
  --color-secondary: #0e993c;
  --color-pink: #9578f7;
  --color-yellow: #f8db4b;
  --color-dark: #000409;
  --color-wt: #fff;
  --color-white: #fffade;
  --color-grey: rgb(186, 186, 186);
  --font-size-xxs: 0.5rem;
  --font-size-xs: clamp(0.6875rem, 0.59375rem + 0.1953125vw, 0.75rem);
  --font-size-sm: clamp(0.8125rem, 0.625rem + 0.390625vw, 0.9375rem);
  --font-size-base: 1.063rem;
  --font-size-md: clamp(1.1875rem, 0.90625rem + 0.5859375vw, 1.375rem);
  --font-size-lg: clamp(1.4375rem, 1.15625rem + 0.5859375vw, 1.625rem);
  --font-size-xl: clamp(1.75rem, 1.375rem + 0.78125vw, 2rem);
  --font-size-2xl: clamp(2.0625rem, 1.40625rem + 1.3671875vw, 2.5rem);
  --font-size-3xl: clamp(2.5rem, 1.75rem + 1.5625vw, 3rem);
  --font-size-4xl: clamp(3rem, 2.0625rem + 1.953125vw, 3.625rem);
  --font-size-5xl: clamp(2.44rem, 1.83rem + 3.04vw, 4rem);
  --font-size-6xl: clamp(3.05rem, 2.04rem + 5.07vw, 5.65rem);
  --container-sm: 768px;
  --container-md: 1024px;
  --container-lg: 1280px;
  --container-xl: 1536px;
  --container-2xl: 1536px;
  --spacing-1: 1rem;
  --spacing-2: 1.75rem;
  --spacing-3: 3.5rem;
  --spacing-4: 4rem;
  --space-x: 1.5rem;
  --space-y: 1.5rem;
  --aspect-ratio: 4/3;
  --radius: 20px;
  --btn-radius: 1.5rem;
  --gap: 1rem;
} /*# sourceMappingURL=index.css.map */
