.archive-professionnel {
  background-color: #f1efe8;
}

.single-professionnel {
  position: relative;
  .landing {
    padding: 0 4rem;
    width: 100vw;
    height: 50vh;
    @include media-breakpoint-down(md) {
      padding: 0 0.5rem;
    }
    &-img {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
    }
  }
  .separator {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 2.5rem;
    flex-direction: column;
    align-items: center;
    .line {
      height: 100px;
      width: 2px;
      background-color: var(--color-gray);
    }
    .step-line {
      color: var(--color-gray-dark);
      font-style: italic;
      margin-top: 2rem;
    }
  }
  .edit-page-pro {
    position: fixed;
    top: 15%;
    right: 0;
    transform: translate(-50%, -50%);
    z-index: 90;
    @include media-breakpoint-down(md) {
      position: absolute;
    }
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
  .portfolio {
    .project {
      .bg-img-project {
        transition: 0.3s ease-in;
        cursor: pointer;
        &:hover {
          transform: scale(0.95);
        }
      }
    }
  }
}

$color_1: white;
$background-color_1: bisque;
$background-color_2: #333;
$background-color_3: #555;
$border-color_1: blue;

.modal-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal-project {
  width: 90vw;
  height: 90vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffff;
  z-index: 10;
  padding: 1rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  .main_image {
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
  }
  .thumbnail {
    transition: 0.3s ease-in-out;
    border: 2px solid transparent;
    cursor: pointer;
    &.active {
      border: 2px solid #333;
    }
    &:hover {
      border: 2px solid var(--color-primary);
    }
  }
  .splide__arrows {
    position: absolute;
    bottom: -50px;
    left: 0;
    width: 100%;
  }
  .close-modal {
    display: flex;
    justify-content: end;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    svg {
      width: 2rem;
      height: 2rem;
    }
    &:hover {
      svg {
        transform: scale(0.9);
      }
    }
  }
}
