header {
  position: relative;
  height: auto;
  width: 100%;
  z-index: 100;
  .menu-header {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    @include media-breakpoint-down(md) {
      grid-template-columns: 60% 40%;
    }
    &-links {
      height: 100%;
      align-items: end;
      display: flex;
      justify-content: start;
      margin-bottom: 3rem;
      @include media-breakpoint-down(md) {
        justify-content: end;
        align-items: inherit;
        margin-bottom: inherit;
      }
    }
  }
}

.container-menu {
  background-color: var(--color-dark);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--menu-width);
  z-index: 100;
  transform: translateX(-300px);
  transition: transform 0.5s ease-in-out;
  #menu-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    background-color: var(--color-dark);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    padding-left: 5rem;
    padding-top: 2rem;
    width: 100%;
  }
}
:root {
  --menu-width: 300px; /* Ajuste la largeur du menu */
}

.container-menu.active {
  transform: translateX(-300px);
}
body {
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}
body.menu-open {
  transform: translateX(var(--menu-width));
  overflow: hidden; /* Empêche le défilement */
}
