header {
  position: relative;
  height: auto;
  width: 100%;
  z-index: 100;
  background-color: var(--color-dark);
  .menu-header {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    @include media-breakpoint-down(md) {
      grid-template-columns: 25% 50% 25%;
    }
    &-links {
      height: 100%;
      align-items: end;
      display: flex;
      justify-content: start;
      margin-bottom: 3rem;
      @include media-breakpoint-down(md) {
        justify-content: end;
        align-items: inherit;
        margin-bottom: inherit;
      }
    }
    &-logo {
      padding: 2rem 0;
      @include media-breakpoint-down(md) {
        display: flex;
        justify-content: center;
        width: 100%;
      }
    }
  }
}

.menu_toggle {
  transition: all 0.3s ease-in-out;
  padding: 1rem;
  position: relative;
  top: 20px;
  left: 20px;
  z-index: 9999;
  &.is-fixed {
    .nav-btn {
      background-color: rgba(0, 0, 0, 0.8);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
      border-radius: 50%;
    }
  }
}

.account_not_connected {
  display: flex;
  flex-direction: column;
  @include media-breakpoint-down(md) {
    display: none;
    &.mobile {
      display: flex !important;
      opacity: 1;
      .flex {
        flex-direction: column;
        margin: auto;
        padding-top: 2rem;
      }
    }
  }
}

.container-menu {
  background-color: var(--color-dark);
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 100;
  transform: translateX(-300px);
  transition: transform 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  &.active {
    transform: translateX(0);
  }
  #menu-main {
    flex: 1; // Pour occuper tout l’espace vertical restant
    overflow-y: auto; // Permet de scroller
    -webkit-overflow-scrolling: touch; // Pour iOS
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    height: 100%;

    li {
      a {
        display: flex;
        justify-content: center;
        width: 100%;
        transition: 0.3s ease-in-out;
        color: white;
        opacity: 0.7;
        font-size: var(--font-size-md);
        &:hover {
          opacity: 1;
        }
      }
    }

    @include media-breakpoint-down(md) {
      padding-top: 3rem;
      height: 480px;
    }
  }
}
