.reset-password-page {
  .flex {
    @include media-breakpoint-down(md) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  .logo {
    transition: 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
  @include media-breakpoint-down(md) {
    .reset-password-page-shape {
      display: none;
    }
  }
  &-shape {
    position: relative;
  }
  &-shape-text {
    color: white;
    background-color: var(--color-blue);
    border-radius: 35%;
    padding: 1rem 2rem;
    @include media-breakpoint-up(md) {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 35%;
      top: 50%;
      background-color: inherit;
      padding: inherit;
      border-radius: inherit;
    }
  }
}
