.card-pro {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f1f1f1;
  padding: 1rem;
  background-color: white;
  position: relative;
  overflow: hidden;
  .avatar {
    display: flex;
    justify-content: center;
    img {
      width: 150px;
      height: 200px;
      object-fit: cover;
      margin-bottom: 1rem;
    }
    .border-professionnel {
      border: 2px solid var(--color-professionnel);
    }
  }
  .name {
    font-size: 1.4rem;
    font-weight: 700;
    font-style: normal;
  }
  .view-hover {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 90% 10%;
    justify-content: end;
    align-items: center;
    transition: 0.3s ease-in-out;
    transform: translateY(100px);
    p {
      margin-top: 1rem;
      font-weight: 500;
      text-align: center;
    }
  }
  .bg-professionnel {
    background-color: var(--color-professionnel);
  }
  &:hover {
    .view-hover {
      transform: translateY(0px);
    }
  }
}
