.collapse-group {
    margin-bottom: 60px;
}
.collapse-item {
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    padding: 1em 1em .5em;
    //color: var(--color-wt);
    &:nth-child(odd) {
        background-color: var(--color-dark);
    }
    &:nth-child(even) {
        background-color: var(--color-secondary);
    }
    &:nth-last-child(1) {
        border-radius: 30px;
    }
    h3 button {
        text-align: left;
        position: relative;
    }
    position: relative;

    transition: transform 0.3s ease-in-out;
    transition-delay: 0.4s;
    &:after {
        @include pseudo-content(100%, 2px, var(--color-primary));
        bottom: 0;
        top: inherit;
        transition-delay: 3s;
        transform: scaleX(0);
        transform-origin: center left;
        transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
    }
}
.collapse-item + .collapse-item {
    margin-top: -2.5rem; /* Espacement entre les cartes */
}
.collapse-item:last-of-type{
    padding-bottom: 0.005rem;
}

.collapse-inner {
    padding: 3rem 1rem;
}
.collapse-btn {
    background-color: transparent;
    border: none;
    transition: color 0.3s;
    color: var(--color-wt);
    padding: 0;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    span {
        display: inline-block;
        width: 40px;
        height: 40px;
        background-color: var(--color-wt);
        border-radius: 50%;
        color: var(--color-dark);
        font-size: 24px;
        text-align: center;
        line-height: 37px;
        cursor: pointer;
        position: relative;
        transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
        transform-origin: center;
        &:before {
            content: "+";
            font-weight: bold;
        }
    }
    &.is-open {
        span {
            &::before {
                content: "-";
            }
        }
    }
    &:hover {
        color: var(--color-white);
    }
}

.collapse-body {
    overflow: hidden;
    display: block;
    max-height: 0px;
    transition: max-height 1s;
    background-color: var(--color-wt);
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: calc(var(--radius) / 2);
    margin-bottom: 3rem;
}
.collapse-icon {
    width: 1rem;
    height: 1rem;
    align-items: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 5px;
    svg {
        width: 12px;
    }
    transition: transform 0.2s ease-in-out;
}
