.glightbox-clean .gdesc-inner {
  padding: 22px 20px;
}
.glightbox-clean .gslide-description {
  background: #fff;
}
.glightbox-clean .gdesc-inner h4 {
  text-transform: none;
  color: var(--color-dark);
  width: fit-content;
  background: inherit;
  padding: 5px 0;
  margin-top: inherit;
  font-weight: 700;
  font-size: var(--font-size-md);
}
.glightbox-clean .gslide-desc {
  font-size: var(--font-size-sm);
  margin-bottom: 0;
  font-family: arial;
  line-height: 1.4em;
}
