$btn-height: 50px;
$btn-width: 50px;
$bar-width: 30px;
$bar-height: 3px;
$bar-distance: -10px;
$nav-tog-dur: 0.5s;

.nav-btn {
  width: $btn-width;
  height: $btn-height;
  box-sizing: border-box;
  display: block;
  cursor: pointer;
  position: fixed; //span has position: absolute
  top: 60px;
  left: 15px;
  z-index: 999999;
  transition: 0.5s ease-in-out;
  padding: 1rem;
  @include media-breakpoint-down(md) {
    top: 20px;
    right: 20px;
  }
  &.nav-on {
    left: 315px;
  }
  span {
    display: block;

    position: absolute;
    top: calc(#{$btn-height}/ 2 - #{$bar-height}/ 2);
    bottom: calc(#{$btn-height}/ 2 - #{$bar-height}/ 2);
    left: calc((#{$btn-width} - #{$bar-width}) / 2);
    right: calc((#{$btn-width} - #{$bar-width}) / 2);
    background: var(--color-white);

    transition: all 0s; //give the effect that the bars make the middle vanish
    transition-delay: $nav-tog-dur;
    &:hover {
      &::before,
      &::after {
      }
    }
    &::before,
    &::after {
      content: "";
      width: 100%;
      height: $bar-height;
      display: block;

      position: absolute;
      left: 0;

      background: var(--color-white);
      transition-duration: $nav-tog-dur, $nav-tog-dur, 1s;
      transition-delay: $nav-tog-dur, 0s, 0s; //gets overwritten when on, so it's the ending transition
    }

    &::before {
      top: $bar-distance;
      transition-property: top, transform, background;
    }

    &::after {
      bottom: $bar-distance;
      transition-property: bottom, transform, background;
    }
  }

  &.nav-on span {
    background: none;
    &::before,
    &::after {
      transition-delay: 0s, $nav-tog-dur, $nav-tog-dur;
    }

    &::before {
      top: 0;
      transform: rotate(45deg);
      background: var(--color-white);
    }

    &::after {
      bottom: 0;
      transform: rotate(-45deg);
      background: var(--color-white);
    }
  }
}
